<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{131,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,163}}</string>
                <key>sourceSize</key>
                <string>{131,163}</string>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,163}}</string>
                <key>sourceSize</key>
                <string>{131,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b266bae8d19f890ae1e340e30b309370:1/1$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
